@import '../../styles/variables';

.update-player-metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-large;
    text-align: center;
    background-color: $color-light;
    border-radius: 20px;
    width: fit-content;
    align-self: center;

    &__title {
        font-size: $font-size-xlarge;
        color: $color-dark;
        margin-bottom: $spacing-large;
        font-weight: 600;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-card;
        padding: $spacing-large;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        width: 100%;
        max-width: 400px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: $spacing-base;

        label {
            font-size: $font-size-base;
            margin-bottom: $spacing-small;
            color: $color-dark;
            font-weight: bold;
            text-align: left;
        }

        input {
            padding: $spacing-small;
            font-size: $font-size-base;
            border: 1px solid #ddd;
            border-radius: $border-radius;
            transition: border-color 0.3s ease;

            &:focus {
                outline: none;
                border-color: $color-primary;
            }
        }
    }

    &__submit {
        padding: $spacing-small $spacing-base;
        background-color: $color-primary;
        color: $color-light;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        font-size: $font-size-base;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color-secondary;
        }
    }
}
