@import '../../styles/variables';

.team-page {
    padding: $spacing-base;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__players {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-base;
        margin-bottom: $spacing-base;
    }

    .player-card {
        border: 1px solid #ddd;
        border-radius: $border-radius;
        padding: $spacing-base;
        box-shadow: $box-shadow;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__name {
            font-size: $font-size-large;
            margin-bottom: $spacing-small;
        }

        &__metrics {
            margin-bottom: $spacing-small;
        }

        &__button {
            background-color: $color-primary;
            color: $color-light;
            border: none;
            padding: $spacing-small;
            border-radius: $border-radius;
            cursor: pointer;
            text-align: center;
            width: 100%;
            text-decoration: none;
        }
    }

    &__chart {
        margin-top: $spacing-base;
        svg {
            width: 100%;
            height: auto;
        }
    }
}

.update-page__nav {
    font-size: $font-size-base;
    color: $color-dark; 

    a {
        color: $color-dark; 
        text-decoration: underline; 
        &:hover {
            text-decoration: underline; 
            color: $color-primary; 
        }
    }
}