@import "../../styles/variables";
@import "../../styles/mixins";
.home-page {
  padding: $spacing-base;

  .home-page__nav {
    @include nav-bg;
    margin-bottom: $spacing-base;
    font-size: $font-size-base;
    color: $color-dark;
    a {
      color: $color-dark;
      text-decoration: underline;
      &:hover {
        text-decoration: underline;
        color: $color-primary;
      }
    }
  }

  .home-page__teams {
    display: flex;
    flex-direction: column;
    gap: $spacing-small;
  }

  .home-page__card {
    background-color: $color-card;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: $spacing-base;
    text-align: center;
    width: fit-content;

    .teamlink {
      color: $color-dark;
      text-decoration: none;
      font-size: $font-size-base;
      display: block;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
